<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>Delete</title>
    {% load staticfiles %} 
    <link rel="stylesheet" href="{% static 'courses/styles.css' %}">
  </head>
  <body>

    <div id="wrapper">

     	<h2>Are you sure you want to delete the following course? </h2>

     	

		<p>Name: {{course.name}}</p>
		<p>Description: {{description.description}}</p>

		<form action="/">
			{% csrf_token %}
			<input type="submit" value="No">
		</form>
		<form action="/process/delete/{{course.id}}" method="POST">
			{% csrf_token %}
			<input type="submit" value="Yes! I want to delete this">
		</form>
 
    </div> 

  </body>
</html>
